section {
  padding-top: 128px;
  position: relative;
}

section::before {
  z-index: -1;
  content: '';
  font-size: 72px;
  color: #676767;
  opacity: 0.25;
  position: absolute;
  font-weight: bold;
  top: 10px;
}

/* img {
  max-width: 100%;
  width: auto;
} */

.btn, .btn-about {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 24px;
  background: linear-gradient(45deg, #a33ed2, #f2b0fc);
  border: 2px solid #a33ed2;
  border-radius: 24px;
  background-clip: unset;
  -webkit-text-fill-color: white;
  transition: background 0.5s ease-in-out, 
              border 0.5s ease-in-out, 
              color 0.5s ease-in-out, 
              -webkit-text-fill-color 0.5s ease-in-out;
}

.btn:hover, .btn.button.active {
  background: linear-gradient(45deg, #a33ed2, #f2b0fc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #f2b0fc;
}

.btn-about.button:not(.active) {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.btn-about.button:hover:not(.active) {
  background: linear-gradient(45deg, #a33ed2, #f2b0fc);
  background-clip: unset;
  -webkit-text-fill-color: white;
  border: 2px solid #f2b0fc;
  box-shadow: 0 0 15px rgba(163, 62, 210, 0.5);
}

.btn-about.button.active {
  background: linear-gradient(45deg, #a33ed2, #f2b0fc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #f2b0fc;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-about.button.active:hover {
  background: linear-gradient(45deg, #a33ed2, #f2b0fc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #f2b0fc;
  transform: scale(1.05); /* Digunakan Memperbesar Button*/
  box-shadow: 0 0 15px rgba(163, 62, 210, 0.5); /* Digunakan untuk membuat efek glow Button */
}

.navbar {
    background-image: linear-gradient(-45deg, #1f69ea, #a33ed2, #f2b0fc, #ff4463);
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); /* Ubah warna garis pembatas tombol */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.home h1 {
  font-size: 64px;
}

.home h3 {
  font-size: 42px;
}

.home p {
  color: #676767;
}

#moreInfoArrow {
  color: white;
  font-size: 18px;
  background: linear-gradient(45deg, #ff4463, #f2b0fc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#moreInfoArrow:hover {
  color: white;
  background: linear-gradient(45deg, red, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .arrow img {
  width: 30px;
}

#arrow {
  animation: 2s upDown infinite;
}

.about::before {
  content: 'About';
}

.about-exp-item {
  margin-top: 32px;
  
}

.about-exp-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-exp-item-detail {
  display: none;
}

.work::before {
  content: 'Work';
}

.work-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "work-1 work-2" "work-3 work-3";
  gap: 7px;
  overflow: hidden;
}

.work-img img {
  width: 100%;
}

.work-img-item {
  position: relative;
}

.work-img-item:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.work-img-item:hover::after {
  opacity: 1;
}

#work-1 {
  grid-area: work-1;
}

#work-1:hover::after {
  content: 'Software Project';
}

#work-2 {
  grid-area: work-2;
}

#work-2:hover::after {
  content: 'Web Project';
}

#work-3 {
  grid-area: work-3;
}

#work-3 > img {
  height: 300px;
  object-fit: cover;
}

#work-3:hover::after {
  content: 'Mobile Application Project';
}

.contact::before {
  content: 'Contact';
}

.row-item-in img {
  height: 40px;
}

.row-item-in p {
  padding-left: 10px
}

.row-item-em img {
  height: 35px;
}

.row-item-em p {
  padding-left: 10px;
}

.row-item-ig img {
  height: 35px;
}

.row-item-ig p {
  padding-left: 10px;
}

#contact {
  margin-top: 64px;
}

.contact-form {
  position: relative;
  border-radius: 15px;
  padding: 42px 32px;
  background: linear-gradient(45deg, #a33ed2, #f2b0fc);
  z-index: 0;
  overflow: hidden; /* agar lapisan dalam tidak keluar */
}

.contact-form::before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: white;
  border-radius: 13px;
  z-index: -1;
}

.contact-form label {
  font-weight: 700;
}

@keyframes bounceIn { /* membuat animasi awal seperti ada pantulan di header */
    0% {
        filter: opacity(0);
        transform: translateY(-20px);
    }
    35% {
        filter: opacity(0.25);
        transform: translateY(0);
    }
    70% {
        filter: opacity(0.5);
        transform: translateY(10px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0);
    }
  }

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(7px);
  }
  
  100% {
    transform: translateY(0);
  }
}

/* .btn { kode btn sebelum di ganti
  color: white;
  background: linear-gradient(45deg, #a33ed2, #f2b0fc);
  border: 2px solid #a33ed2;
  border-radius: 24px;
  transition: background 0.5s ease-in-out, 
              border 0.5s ease-in-out, 
              -webkit-text-fill-color 0.5s ease-in-out;
} */
