* { /* = (*) disebut universal selector (selektor universal). 
       Fungsinya adalah untuk memilih semua elemen dalam dokumen HTML, 
       sehingga aturan CSS yang diterapkan akan berlaku untuk semua elemen di halaman. */
    font-family: "Montserrat";
}

h1 {
    font-weight: 590;
    font-size: 48px;
    margin-top: 0 0 16px 0;
    
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #979797;
    margin: 0 0 16px 0;
}

section {
    padding: 64px 128px;
}

.btn { /* Dalam CSS, tanda titik (.) digunakan untuk memanggil class yang telah didefinisikan di dalam HTML. 
          Class memungkinkan Anda menerapkan gaya tertentu ke satu atau lebih elemen tanpa mempengaruhi elemen lainnya. 
          Catatan Tambahan
          - Satu elemen bisa memiliki banyak class dengan memisahkan nama class menggunakan spasi 
          - Memanggil lebih dari satu class dalam satu selector
            Anda bisa menargetkan beberapa class sekaligus dalam satu aturan CSS*/
    background-color: rgb(66, 125, 234);
    color: white;
    padding: 10px 20px; /* Padding adalah ruang di dalam elemen, antara konten dan border. 
                           Efeknya: Konten akan memiliki jarak dari batas dalam elemen, 
                           tapi ukuran total elemen akan bertambah jika box-sizing: content-box; digunakan. */
}

.btn-alt {
    background-color: white;
    color: black;
    margin-right: 10px; /* Margin adalah ruang di luar elemen, digunakan untuk memberi jarak antar elemen lain. 
                           Efeknya: Elemen akan menjauh dari elemen lain tanpa mempengaruhi ukuran elemen itu sendiri. */

    border: 2px solid rgb(66, 125, 234); /* Border adalah garis yang mengelilingi elemen, berada di antara padding dan margin. 
                                              Efeknya: Elemen akan memiliki garis tepi dengan ketebalan dan warna tertentu. */
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
}

#header h1 {
    margin: 0;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#landing p {
    margin-bottom: 25px;
}

#landing > div {
    width: 50%;
}

nav > a {
    color: rgb(66, 125, 234);
    margin-left: 10px;
}

/* Combinatior CSS
   1. ~ Descendant combinator digunakan untuk memilih elemen yang berada di dalam elemen lain, tanpa memperhatikan level kedalamannya.
   div p {
  color: blue;
}
   Semua <p> yang berada di dalam <div>, baik langsung maupun dalam elemen lain yang bersarang, akan dipilih.
   Tidak peduli apakah <p> adalah anak langsung dari <div> atau berada dalam elemen lain di dalam <div>.
   <div>
   <p>Ini akan berwarna biru.</p>
   <section>
   <p>Ini juga akan berwarna biru.</p>
   </section>
   </div>

   2. ~ Child combinator digunakan untuk memilih elemen yang hanya merupakan anak langsung dari elemen tertentu.
   div > p {
  color: red;
}
   Hanya <p> yang merupakan anak langsung dari <div> yang akan dipilih.
   Jika <p> berada dalam elemen lain di dalam <div>, maka tidak akan dipilih.
   <div>
   <p>Ini akan berwarna merah.</p>
   <section>
   <p>Ini tidak akan berubah warna.</p>
   </section>
   </div>

   Kesimpulan :
   Gunakan descendant combinator jika ingin menargetkan semua elemen dalam sebuah elemen induk, tidak peduli seberapa dalam mereka berada.
   Gunakan child combinator jika ingin menargetkan hanya anak langsung dari elemen induk. */



.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

#about {
    display: flex;
    align-items: center;
    justify-items: space-between;
    column-gap: 16px;
}

#about > div {
    width: 50%;
}

#about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 72px;
}

.about-stats-item div {
    width: 50px;
    height: 10px;
    background-color: rgb(66, 125, 234);
    margin-bottom: 16px;
}

.about-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
